<!--
  Spawns Kobuki inside a Gazebo simulation
  -->
<launch>
  <arg name="robot_name" value="mobile_base"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kobuki_description)/urdf/kobuki_standalone.urdf.xacro'"/>
  <node pkg="gazebo" type="spawn_model" name="spawn_$(arg robot_name)" 
        args="-x 0.0 -y 0.0 -z 0.0 -unpause -urdf -param robot_description -model $(arg robot_name)" respawn="false">
  </node>
</launch>